spring:
  application:
    name: budget-backend
  profiles:
    active: dev
  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-on-migrate: true
    baseline-on-migrate: false
    out-of-order: false
    #schemas: public
  datasource:
    hikari:
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      jakata.persistence.query.timeout: 3000
  data:
    web:
      pageable:
        max-page-size: 30
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
    time-zone: UTC
  mail:
    host: localhost
    port: 1025
    properties:
      mail:
        smtp:
          starttls:
            enable: false
          auth: false
  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 1MB
  mvc:
    problemdetails:
      enabled: true

server:
  port: 8080
  servlet:
    context-path: /api
  tomcat:
    max-swallow-size: 1MB
    max-http-form-post-size: 2MB

logging:
  level:
    root: info
    org.springframework.web: info
    org.hibernate.sql: warn